Downloads/
.cache/
homepage/
.npm/
.mozilla/
.local/
.parallel/
.npmrc
.pki/
.vim/
.viminfo
.vscode/
.vscode-oss/
.Xauthority
.icons/
yay-git/
.gitconfig
.gtkrc-2.0
.lesshst
.bash_history
.bash_logout
.config/Code/
.config/code-oss/
.config/dconf/
.config/Electon/
.config/GIMP/
.config/inkscape/
.config/nautilus/
.config/pulse/
.config/gtk-2.0/
.config/gtk-3.0/
.config/Code*-*OSS/
.config/chromium/
.config/BraveSoftware/
.config/coc/
.config/coreapps/
.config/mimeapps.list
.config/nvim/
.config/pavucontrol.ini
.config/spotify/
.dbshell
.gnupg/
.mongorc.js
.python_history
Documents/
Pictures/
Projects/
.config/libreoffice/
.config/Kite/
.config/Postman/
.config/PostmanAgent/
.config/autostart/
 .config/systemd/
.histfile
.kite/
.psql_history
.themes/
.wget-hsts
.zcompdump
.zshrc
.config/configstore/
.config/systemd/
.config/htop/

