Downloads/
.cache/
homepage/
.npm/
.mozilla/
.local/
.parallel/
.npmrc
.pki/
.vim/
.viminfo
.vscode/
.vscode-oss/
.Xauthority
.icons/
yay-git/
.gitconfig
.gtkrc-2.0
.lesshst
.bash_history
.bash_logout
.config/Code/
.config/code-oss/
.config/dconf/
.config/Electon/
.config/GIMP/
.config/inkscape/
.config/nautilus/
.config/pulse/
.config/gtk-2.0/
.config/gtk-3.0/
.config/'Code - OSS'/
.config/chromium/
